In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
airbnb_path = "Resources/listings.csv"

airbnb_data = pd.read_csv(airbnb_path)

In [3]:
airbnb_data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.34,3,308
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,79,1,403,2021-05-04,5.16,1,208
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2016-06-05,0.56,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,175,21,1,2014-01-02,0.01,1,134
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,61,2,474,2020-09-25,3.61,1,246

In [4]:
airbnb_data.count()

id                                36230
name                              36216
host_id                           36230
host_name                         36204
neighbourhood_group               36230
neighbourhood                     36230
latitude                          36230
longitude                         36230
room_type                         36230
price                             36230
minimum_nights                    36230
number_of_reviews                 36230
last_review                       26772
reviews_per_month                 26772
calculated_host_listings_count    36230
availability_365                  36230
dtype: int64

In [5]:
airbnb_data[airbnb_data['reviews_per_month'].isnull()]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kae,Manhattan,East Harlem,40.801070,-73.942550,Private room,65,30,0,NaN,NaN,2,365
12,7750,2 Furnished bedrooms next to Central Park,17985,Sing,Manhattan,East Harlem,40.796070,-73.949490,Private room,96,30,0,NaN,NaN,2,178
20,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.637020,-73.963270,Private room,150,30,0,NaN,NaN,1,0
100,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,60,30,0,NaN,NaN,1,83
106,51438,1 Bedroom in 2 Bdrm Apt- Upper East,236421,Jessica,Manhattan,Upper East Side,40.774490,-73.953080,Private room,130,14,0,NaN,NaN,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36225,50164369,Fully Furnished Cozy Room in Upper West Side Home,305240193,June,Manhattan,Upper West Side,40.798766,-73.964027,Private room,76,30,0,NaN,NaN,283,1
36226,50165159,Fully Furnished Modern Room in West Harlem Home,305240193,June,Manhattan,Harlem,40.811334,-73.954073,Private room,58,30,0,NaN,NaN,283,307
36227,50165711,Furnished Sunlit Room in Lower East Side Apart...,305240193,June,Manhattan,Chinatown,40.715412,-73.992864,Private room,74,30,0,NaN,NaN,283,304
36228,50165885,"Classic Flatiron 2BR w/ W/D, Elevator, near Ea...",107434423,Blueground,Manhattan,Flatiron District,40.743279,-73.991203,Entire home/apt,281,30,0,NaN,NaN,278,299
36229,50167934,Furnished Cozy Room in Upper West Side Apartment,305240193,June,Manhattan,Upper West Side,40.799863,-73.961523,Private room,79,30,0,NaN,NaN,283,303

In [6]:
airbnb_data = airbnb_data.dropna(how='any')

In [7]:
airbnb_data.count()

id                                26748
name                              26748
host_id                           26748
host_name                         26748
neighbourhood_group               26748
neighbourhood                     26748
latitude                          26748
longitude                         26748
room_type                         26748
price                             26748
minimum_nights                    26748
number_of_reviews                 26748
last_review                       26748
reviews_per_month                 26748
calculated_host_listings_count    26748
availability_365                  26748
dtype: int64

In [8]:
airbnb_data.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object